################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/slnx.sqlite
/src/__pycache__
/.vs/slnx.sqlite-journal
/qdrant_data
/.vs/VSWorkspaceState.json
/.vs/structured-data-search-engine.slnx
/.vs/ProjectSettings.json
/.vs/structured-data-search-engine/CopilotIndices/18.3.511.5503
/src/qdrant_test_data/collection/test_col
*.pyc
/src/pipeline1/__pycache__/__init__.cpython-313.pyc
/src/qdrant_test_data/.lock
*.py.tmp.*
