################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/slnx.sqlite
/src/__pycache__
/.vs/slnx.sqlite-journal
/qdrant_data
/.vs/VSWorkspaceState.json
/.vs/structured-data-search-engine.slnx
/.vs/ProjectSettings.json
